PROMPT_NAME=test name
PROMPT_EMAIL=test+email@example.com
OTEL_SERVICE_NAME=pharmakarma
HONEYCOMB_API_KEY=
ENABLE_SEED=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_INVITE_URL=
DISCORD_REDIRECT_URL=http://localhost:3000/api/authentication/discord/callback
DISCORD_BOT_TOKEN=
DISCORD_BOT_PERMISSIONS=65983381777601
DISCORD_SERVER_ID=
DISCORD_MEDIA_OFFLINE_STORE=
DISCORD_MEDIA_PARENT_CHANNEL_NAME=products
DISCORD_MEDIA_DEBUG=
DISCORD_MEDIA_PINNED_ONLY=
ALLOW_ANONYMOUS_VIEWS=
COOKIE_SECRET=32fc3974-7e4c-4212-8160-02870644875a
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_NAME=MedicalCannabisNZ
REDDIT_FLAIR="Medical Patient"
GITHUB_TOKEN=
AUTHSIGNAL_TENANT=
AUTHSIGNAL_KEY=
AUTHSIGNAL_SECRET=
AUTHSIGNAL_API_URL=https://au.signal.authsignal.com/v1
AUTHSIGNAL_REDIRECT_URL=
ENABLE_CACHE=
PUBLIC_PATH=
AUTHENTICATED_IS_TRUSTED=
R2_ACCESS_KEY_ID=
R2_ACCESS_KEY_SECRET=
R2_BUCKET=
R2_ENDPOINT=
EXECUTION_TIMEOUT_MS=10000
EXECUTION_TIMEOUT_MS_API_BACKGROUND=60000
IS_LOCAL=
DISCORD_MEDIA_VERSION=
CONSOLE_CAPTURE_KEY=eb468bd6-e82e-40e9-9e18-68e433ec59f9
CLOUDFLARE_TOKEN=