name: release-actions
on:
  push:
    branches:
      - main
  release:
    types:
      - created
jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      NO_COVERAGE_BADGE_UPDATE: 1
      PROMPT_NAME: test name
      PROMPT_EMAIL: test+email@example.com
    steps:
      - run: uname -a
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: "18.x"
          registry-url: "https://registry.npmjs.org"
      - run: |
          yarn install
      - run: yarn build
      # yarn coverage === c8 + yarn test
      - run: yarn coverage
      - run: rm -rf patches # Remove any patches to allow for other packages to decide this
      - name: Package Registry Publish - npm
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"
          npm set "registry=https://registry.npmjs.org/"
          npm set "@virtualstate:registry=https://registry.npmjs.org/"
          npm set "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}"
          npm publish --access=public
        continue-on-error: true
        env:
          YARN_TOKEN: ${{ secrets.YARN_TOKEN }}
          NPM_TOKEN: ${{ secrets.YARN_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.YARN_TOKEN }}
      - uses: actions/setup-node@v2
        with:
          node-version: "18.x"
          registry-url: "https://npm.pkg.github.com"
      - name: Package Registry Publish - GitHub
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"
          npm set "registry=https://npm.pkg.github.com/"
          npm set "@socialbaking:registry=https://npm.pkg.github.com/socialbaking"
          npm set "//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}"
          npm publish --access=public
        env:
          YARN_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
