name: test-actions
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      NO_COVERAGE_BADGE_UPDATE: 1
      PROMPT_NAME: test name
      PROMPT_EMAIL: test+email@example.com
      REDIS_URL: redis://default@localhost:6379
      REDIS_HOST: localhost
      REDIS_PORT: 6379
      TESTS_REPORT_HANDLES: 1
    services:
      # Label used to access the service container
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379
    steps:
      - run: uname -a
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: "18.x"
          registry-url: "https://registry.npmjs.org"
      - run: |
          yarn install
      - run: yarn build
      # yarn coverage === c8 + yarn test:node
      - run: yarn coverage
      - name: test:node with PORT
        run: yarn test:node
        env:
          PORT: 3400
      - name: test:node with TEST_PRODUCT_COUNT 25 products, 5000 reports
        run: yarn test:node
        env:
          TEST_PRODUCT_COUNT: 25
          TEST_REPORT_PER_PRODUCT_COUNT: 200
          TEST_REPORT_PROCESSING_TIMEOUT_MS: 60000